.body {
    background-image: url("https://thumbs.dreamstime.com/b/orange-yellow-plain-vignette-background-gradient-wallpaper-orange-yellow-plain-vignette-background-gradient-wallpaper-use-151059641.jpg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24pt;
    text-decoration: none;
}